<h2>Admin Home Page</h2>

<div>
    @Html.ActionLink("Add Staff", "Staff_Insert_Load", "Staff")
</div>

<div>
    @Html.ActionLink("Add Cylinder Details", "Cylinder_PageLoad", "Cylinder")
</div>

<div>
    @Html.ActionLink("Edit Cylinder Details", "Cylinder_Update_PageLoad", "Cylinder")
</div>

<div>
    @Html.ActionLink("View Customers", "Customer_View_PageLoad", "Booking")
</div>

<div>
    @Html.ActionLink("Go back to Login Page", "Login_PageLoad", "Login")
</div>



