<h2>Staff Home Page</h2>
<div>
    @Html.ActionLink("Book Cylinder", "Staff_Booking_PageLoad", "Booking")
</div>

<div>
    @Html.ActionLink("Cancel Booking", "Staff_Cancel_Booking_PageLoad", "Booking")
</div>

@* <div>
    @Html.ActionLink("Edit Cylinder Details", "Cylinder_PageLoad", "Cylinder")
</div> *@

<div>
    @Html.ActionLink("Deliver Cylinder", "Delivery_PageLoad", "Delivery")
</div>

<div>
    @Html.ActionLink("Go back to Login Page", "Login_PageLoad", "Login")
</div> 
