@model MVC_CORE_Project.Models.StaffCls

<form asp-action="Staff_Insert_Click" class="form-horizontal" method="post">
    <div class="form-group">
        <label class="control-label">Staff Name : </label>
        <input asp-for="sName" class="form-control" id="t1" required />
    </div>
    <div class="form-group">
        <label class="control-label">Phone : </label>
        <input asp-for="sPhone" class="form-control" id="t2" required />
    </div>
    <div class="form-group">
        <label class="control-label">Email : </label>
        <input asp-for="sEmail" class="form-control" id="t3" required />
    </div>
    <div class="form-group">
        <label class="control-label">Username : </label>
        <input asp-for="sUsrnm" class="form-control" id="t4" required />
    </div>
    <div class="form-group">
        <label class="control-label">Password : </label>
        <input asp-for="sPwd" class="form-control" id="t5" required />
    </div>
    <div class="form-group">
        <label class="control-label">Confirm Password : </label>
        <input asp-for="sCnfPwd" class="form-control" id="t6" required />
        @Html.ValidationMessageFor(m => m.sCnfPwd, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <input type="submit" value="Insert" class="btn btn-success" />
    </div>
    <div>
        @Html.ActionLink("Go back to Admin Page", "AdminHome", "Login")
    </div>
    <div>
        @Html.ActionLink("Go back to Login Page", "Login_PageLoad", "Login")
    </div>

</form>

@{
    if (TempData["msg"] != null)
    {
        if (TempData["msg"].ToString() == "Username already exist")
        {
            <script>
                alert('@TempData["msg"]');
            </script>
        }
        else
        {
            <script>
                alert('@TempData["msg"]');
                document.getElementById(t1).value = "";
                document.getElementById(t2).value = "";
                document.getElementById(t3).value = "";
                document.getElementById(t4).value = "";
                document.getElementById(t5).value = "";
                document.getElementById(t6).value = "";
            </script>
        }

    }
}
